.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

#pinterest-home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: rgb(0, 0, 0);
    color: white;
}

#pinterest-home-link:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

#searchByTag {
    flex-grow: 1;
    border: none;
    border-radius: 50px;
    background-color: rgb(228, 228, 228);
    height: 50px;
    padding-left: 30px;
}
