* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Vollkorn", sans-serif;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

#pinterest-home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: rgb(0, 0, 0);
    color: white;
}

#pinterest-home-link:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

#searchByTag {
    flex-grow: 1;
    border: none;
    border-radius: 50px;
    background-color: rgb(228, 228, 228);
    height: 50px;
    padding-left: 30px;
}

.selectBoardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: red;
    color: white;
    opacity: 0.3s;
}

.btnMenu {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background: white;
}

.board {
    display: none;
    width: 150px;
    padding: 10px;
    position: absolute;
    top: 78px;
    right: 17px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 8px #0000001a;
}

.menu {
    display: none;
    width: 150px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 172px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 8px #0000001a;
}
.addToBoard {
    display: none;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 162px;
    background: white;
    box-shadow: 0 0 8px #0000001a;
}

.complaint {
    display: none;
    padding: 35px;
    border-radius: 10px;
    position: absolute;
    bottom: 350px;
    left: 37%;
    background: white;
    box-shadow: 0 0 8px #0000001a;
}

.btnComplaint {
    min-width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: red;
    color: white;
    font-size: 20px;
}

.complaintPin {
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;
}

.complaintItem {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
    gap: 10px;
}

.gallery {
    gap: 30px;
    padding: 0 30px;
    position: absolute;
    columns: 7;
}
.galleryList {
    background: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 20px #434040;
    break-inside: avoid;
    top: 0px;
    left: 0px;
    margin-bottom: 30px;
}

.galleryItem {
    position: relative;
}

.img {
    width: 100%;
}

.imageButton {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 6px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 20%;
    border: 1px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.imageButton:hover {
    background-color: rgb(218, 218, 218);
}

.galleryList:hover .imageButton {
    display: block;
    opacity: 1;
    transition: opacity 0.3s;
}
.galleryList:hover {
    background: #c9c8c8;
    transition: 0.3s;
}

.card {
    margin-top: 20px;
    font-weight: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.avatarImg {
    border-radius: 50%;
}

.headerIcon {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.headerSvg {
    position: relative;
    top: 13px;
    left: 20px;
    display: block;
    color: red;
    fill: currentColor;
}

.noPins {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.no-pins {
    font-size: 50px;
    padding: 0 50px;
    border-radius: 50%;
    background-color: rgb(228, 228, 228);
    color: red;
}
.searchByTagSvg {
    height: 16px;
    width: 16px;
    position: relative;
    left: 35px;
    color: rgb(117, 116, 116);
    fill: currentColor;
}

.selectBoardBtn:hover {
    background: rgb(172, 40, 40);
}

.svgBtn {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.show {
    display: block;
}
.show1 {
    display: block;
}

.hide {
    display: block;
}

.btnMenu:hover {
    background: #e4e3e3;
    opacity: 0.3s;
}
@media (max-width: 1600px) {
    .gallery {
        gap: 10px;
        columns: 6;
    }
}

@media (max-width: 1200px) {
    #pinterest-home-link {
        font-size: 17px;
    }
    .searchByTag {
        font-size: 17px;
    }
    .selectBoardBtn {
        font-size: 17px;
    }
    .gallery {
        gap: 10px;
        columns: 5;
    }
    .card {
        margin-top: 10px;
        gap: 10px;
    }
    .cardDescription {
        font-size: 17px;
    }
}

@media (max-width: 1024px) {
    .gallery {
        columns: 4;
    }
}

@media (max-width: 800px) {
    .gallery {
        columns: 3;
    }
    #pinterest-home-link {
        font-size: 15px;
    }
    .card {
        margin-top: 8px;
        gap: 10px;
    }
    .cardDescription {
        font-size: 15px;
    }
}

@media (max-width: 684px) {
    .header {
        display: grid;
        grid-template-columns: 50px 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .headerIcon {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .headerSvg {
        top: 13px;
        left: 10px;
    }
    #pinterest-home-link {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .selectBoardBtn {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .searchByTagSvg {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        left: 10px;
    }
    #searchByTag {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .board {
        width: 214px;
    }
}

@media (max-width: 600px) {
    .gallery {
        columns: 2;
    }
}

@media (max-width: 480px) {
    .gallery {
        columns: 1;
    }
}

@media (max-width: 390px) {
    #pinterest-home-link {
        min-width: 100px;
    }
    .selectBoardBtn {
        min-width: 100px;
    }
}
